.tituloPaq{
    margin: 4%;
    margin-top: 5%;
}
.textoPaq{
    margin: 4%;  
    margin-top: 15%;
}
.imgPaquete{
    margin: 10%;
}
.parallax {
    background-image: url("../assets/k.jpg");
    min-height: 400px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }